@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.part1 {
  width: 100%;
  height: 7vh;
  background-color: #f8f9facc;
  display: flex;
  justify-content: center;
  align-items: center;

  .bigbox1 {
    width: 1280px;
    height: 100%;
    background-color: #f8f9facc;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 269px;

    .left1 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8f9facc;
      width: 20%;
      height: 100%;
      gap: 10px;

      .description1 {
        font-family: Poppins;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #222222;
      }
    }
    .center1 {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;

      .home {
        text-decoration: none;
        font-family: Poppins;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #6b7280;
      }
      .menu {
        text-decoration: none;
        font-family: Poppins;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #6b7280;
      }
      .ourstory {
        text-decoration: none;
        font-family: Poppins;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #6b7280;
      }
      .gallery {
        text-decoration: none;
        font-family: Poppins;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #6b7280;
      }
    }
    .right1 {
      background-color: #ff6b35;
      height: 63%;
      width: 13%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 33554400px;

      .button1 {
        text-decoration: none;
        color: #ffffff;
        font-family: Poppins;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        vertical-align: middle;
      }
    }
  }
}

.part2 {
  width: 100%;
  height: 85vh;
  /* background-color: bisque; */
  background-image: url(./Contain.png);

  .img1 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .bigbox2 {
    width: 35%;
    height: 65%;
    /* background-color:rgb(236, 164, 29) ; */
    position: absolute;
    top: 200px;
    right: 500px;

    .start1 {
      background-color: #ff6b351a;
      font-family: Poppins;
      font-weight: 700;
      font-style: Bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.35px;
      text-transform: uppercase;
      color: #ff6b35;
      height: 25px;
      width: 30%;
      border-radius: 33554400px;
      text-align: center;
    }
    .head1 {
      padding-top: 2rem;
      font-family: Poppins;
      font-weight: 700;
      font-style: Bold;
      font-size: 60px;
      line-height: 70px;
      color: #ffffff;
      height: 215px;
    }
    .description2 {
      font-family: Poppins;
      font-weight: 400;
      font-size: 16px;
      line-height: 27.5px;
      color: #e5e7eb;
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
    .buttons {
      width: 100%;
      height: 13%;
      /* background-color: #E5E7EB; */
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: start;
      align-items: center;
      padding-left: 10px;

      .button2 {
        width: 33%;
        height: 70%;
        background-color: #ff6b35;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 1px;
        border-color: #ffffff33;
        gap: 10px;

        .icon2 {
          width: 20px;
          height: 20px;
        }
        .b1 {
          font-family: Poppins;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 15px;
          line-height: 28px;
          text-align: center;
          color: #ffffff;
        }
      }
      .button20 {
        width: 33%;
        height: 70%;
        background-color: #ffffff1a;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 1px;
        border-color: #ffffff33;
        gap: 10px;

        .icon3 {
          width: 20px;
          height: 20px;
        }
        .b10 {
          font-family: Poppins;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 15px;
          line-height: 28px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
    .end1 {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      padding-top: 2rem;
      width: 100%;
      gap: 30px;
      .icons {
        height: 35px;
      }
      .description3 {
        font-family: Poppins;
        font-weight: 500;
        font-style: Bold;
        font-size: 13px;
        line-height: 24px;
        color: #e5e7eb;

        strong {
          font-family: Poppins;
          font-weight: 700;
          font-style: Regular;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

.part3 {
  width: 100%;
  height: 85vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  .bigbox3 {
    width: 65%;
    height: 75%;
    /* background-color: #FF6B35; */
    display: flex;
    gap: 2rem;

    .dad {
      width: 45%;
      height: 100%;
      /* background-color: rgb(218, 132, 20); */
      background-position: center;
      background-size: cover;
      position: relative;

      .left2 {
        width: 100%;
        height: 100%;
        border-radius: 32px;
        box-shadow: #00000040;
        background-image: url(./Professional\ chef\ carefully\ garnishing\ a\ gourmet\ plate\ in\ a\ high-end\ kitchen\,\ close-up\,\ shallow\ depth\ of\ field..png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .son1 {
        width: 43%;
        height: 19%;
        background-color: #222222;
        color: #6b7280;
        padding: 2rem;
        position: absolute;
        bottom: -2rem;
        right: -2rem;
        border-radius: 26px;
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;

        .strong1 {
          font-family: Poppins;
          font-weight: 700;
          font-style: Bold;
          font-size: 30px;
          line-height: 40px;
          color: aliceblue;
        }
      }
    }
    .right2 {
      width: 52%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .start2 {
        width: 90%;
        height: 20%;
        font-family: Poppins;
        font-weight: 700;
        font-style: Bold;
        font-size: 39px;
        line-height: 50px;
        /* background-color: #222222; */

        .span3 {
          font-family: Poppins;
          font-weight: 700;
          font-style: Bold;
          font-size: 39px;
          line-height: 50px;
        }
      }
      .body1 {
        width: 90%;
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 15px;
        line-height: 29.25px;
        color: #6b7280;
        /* background-color: #222222; */
      }
      .body2 {
        width: 90%;
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 15px;
        line-height: 29.25px;
        color: #6b7280;
        text-align: start;
        /* background-color: #222222; */
      }
      .end2 {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .left3 {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          .icon4 {
            width: 15%;
            height: 47%;
          }
          .aa1 {
            .title1 {
              font-family: Poppins;
              font-weight: 700;
              font-style: Bold;
              font-size: 14px;
              line-height: 24px;
            }
            .description4 {
              font-family: Poppins;
              font-weight: 400;
              font-style: Regular;
              font-size: 12px;
              line-height: 20px;
              color: #6b7280;
            }
          }
        }
        .right3 {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: row;
          gap: 1rem;

          .icon5 {
            width: 15%;
            height: 47%;
          }
          .aa2 {
            .title2 {
              font-family: Poppins;
              font-weight: 700;
              font-style: Bold;
              font-size: 14px;
              line-height: 24px;
            }
            .description5 {
              font-family: Poppins;
              font-weight: 400;
              font-style: Regular;
              font-size: 12px;
              line-height: 20px;
              color: #6b7280;
            }
          }
        }
      }
    }
  }
}

.part4 {
  width: 100%;
  height: 83vh;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;

  .bigbox4 {
    width: 65%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .start3 {
      width: 50%;
      height: 55px;
      /* background-color: #6B7280; */
      font-family: Poppins;
      font-weight: 600;
      font-style: Bold;
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      color: #222222;
      padding-bottom: 3rem;
    }
    .description6 {
      height: 70px;
      font-family: Poppins;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #6b7280;
      padding-bottom: 6rem;
    }
    .end3 {
      width: 100%;
      height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      /* background-color: #FF6B35; */

      .left4 {
        width: 50%;
        height: 100%;
        background-image: url(./iou.png);
        background-repeat: no-repeat;
        border-radius: 32px;
      }
      .right4 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .up1 {
          width: 100%;
          background-image: url(./Fresh\ seafood\ platter\ with\ oysters\,\ shrimp\,\ and\ lemon\ on\ a\ bed\ of\ ice\,\ vibrant\ colors..png);
          border-radius: 32px;
        }
        .down1 {
          display: flex;
          gap: 23px;

          .left5 {
            width: 47%;
            background-image: url(./close.png);
            border-radius: 32px;
          }
          .right5 {
            width: 47%;
            background-image: url(./Beautifully..png);
            border-radius: 32px;
          }
        }
      }
    }
  }
}

.part5 {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .bigbox5 {
    width: 65%;
    height: 70%;

    .up2 {
      width: 100%;
      height: 37%;

      .head2 {
        height: 60%;
        font-family: Poppins;
        font-weight: 600;
        font-style: Bold;
        font-size: 44px;
        line-height: 44px;
        color: #222222;

        #sp1 {
          font-family: Poppins;
          font-weight: 600;
          font-style: Bold;
          font-size: 44px;
          line-height: 44px;
        }
      }
      .descriotion7 {
        height: 40%;
        display: flex;

        .left6 {
          width: 90%;

          .rrr {
            font-family: Poppins;
            font-weight: 300;
            font-style: Regular;
            font-size: 14px;
            line-height: 24px;
            color: #6b7280;
          }
        }

        .right6 {
          width: 10%;
          height: 100%;
          display: flex;
          justify-content: end;
          gap: 7px;
          .icon6 {
            width: 38px;
            height: 38px;
            color: #e5e7eb;
          }
          .icon7 {
            width: 38px;
            height: 38px;
            color: #e5e7eb;
          }
        }
      }
    }
    .down2 {
      width: 100%;
      height: 73%;
      display: flex;
      justify-content: center;
      gap: 25px;

      .left7 {
        width: 32%;
        height: 80%;
        background-color: #f8f9fa;
        border: 1px solid #e5e7eb;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 15px;
        padding-top: 1rem;

        .stars1 {
          width: 80%;
          height: 14%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;

          .icon8 {
            width: 7%;
            height: 45%;
          }
          .icon9 {
            width: 7%;
            height: 45%;
          }
          .icon10 {
            width: 7%;
            height: 45%;
          }
          .icon11 {
            width: 7%;
            height: 45%;
          }
          .icon12 {
            width: 7%;
            height: 45%;
          }
        }
        .quotation1 {
          width: 100%;
          height: 50%;
          font-family: Poppins;
          font-weight: 400;
          font-style: Italic;
          font-size: 16px;
          line-height: 28.25px;
          padding-left: 2rem;
        }
        .foot1 {
          width: 85%;
          height: 15%;
          display: flex;
          gap: 10px;
          .img2 {
            width: 15%;
            height: 100%;
            background-color: #ffffff;
          }
          .vf1 {
            .title3 {
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-weight: 700; /* عشان يخلي الحروف سميكة   */
              letter-spacing: -1px; /* بتلزق الحروف في بعض وتداخلها */
              font-variant-ligatures: normal; /* بتسمح للحروف الرفيعة والسميكة تتداخل وتلتحم */
            }

            .description8 {
              font-family: Poppins;
              font-weight: 300;
              font-style: Regular;
              font-size: 12px;
              line-height: 20px;
              color: #6b7280;
            }
          }
        }
      }
      .center2 {
        width: 32%;
        height: 75%;
        background-color: #222222;
        border-radius: 32px;
        box-shadow: #00000040;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 12px;
        padding-top: 1rem;

        .stars2 {
          width: 80%;
          height: 15%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;

          .icon8 {
            width: 7%;
            height: 45%;
          }
          .icon9 {
            width: 7%;
            height: 45%;
          }
          .icon10 {
            width: 7%;
            height: 45%;
          }
          .icon11 {
            width: 7%;
            height: 45%;
          }
          .icon12 {
            width: 7%;
            height: 45%;
          }
        }
        .quotation2 {
          width: 100%;
          height: 50%;
          font-family: Poppins;
          font-weight: 400;
          font-style: Italic;
          font-size: 16px;
          line-height: 28.25px;
          padding-left: 2rem;
          color: #f8fafc;
        }
        .foot2 {
          width: 85%;
          height: 15%;
          display: flex;
          gap: 10px;
          .img2 {
            width: 15%;
            height: 100%;
            background-color: #ffffff;
            border-radius: 33554400px;
            background-color: #222222;
          }
          .vf2 {
            .title4 {
              color: #ffffff;
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-weight: 700; /* عشان يخلي الحروف سميكة  */
              letter-spacing: -1px; /* بتلزق الحروف في بعض وتداخلها */
              font-variant-ligatures: normal; /* بتسمح للحروف الرفيعة والسميكة تتداخل وتلتحم */
            }

            .description9 {
              font-family: Poppins;
              font-weight: 300;
              font-style: Regular;
              font-size: 12px;
              line-height: 20px;
              color: #6b7280;
            }
          }
        }
      }
      .right7 {
        width: 32%;
        height: 75%;
        background-color: #f8f9fa;
        border-radius: 32px;
        border: 1px solid #e5e7eb;
        border-color: #e5e7eb;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 12px;
        padding-top: 1rem;

        .stars3 {
          width: 80%;
          height: 15%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;

          .icon8 {
            width: 7%;
            height: 45%;
          }
          .icon9 {
            width: 7%;
            height: 45%;
          }
          .icon10 {
            width: 7%;
            height: 45%;
          }
          .icon11 {
            width: 7%;
            height: 45%;
          }
          .icon12 {
            width: 7%;
            height: 45%;
          }
        }
        .quotation3 {
          width: 100%;
          height: 50%;
          font-family: Poppins;
          font-weight: 400;
          font-style: Italic;
          font-size: 16px;
          line-height: 28.25px;
          padding-left: 2rem;
        }
        .foot3 {
          width: 85%;
          height: 15%;
          display: flex;
          gap: 10px;
          .img2 {
            width: 15%;
            height: 100%;
            background-color: #ffffff;
            border-radius: 33554400px;
          }
          .vf3 {
            .title5 {
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-weight: 700; /* عشان يخلي الحروف سميكة  */
              letter-spacing: -1px; /* بتلزق الحروف في بعض وتداخلها */
              font-variant-ligatures: normal; /* بتسمح للحروف الرفيعة والسميكة تتداخل وتلتحم */
            }

            .description10 {
              font-family: Poppins;
              font-weight: 300;
              font-style: Regular;
              font-size: 12px;
              line-height: 20px;
              color: #6b7280;
            }
          }
        }
      }
    }
  }
}

.part6 {
  width: 100%;
  height: 70vh;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;

  .bigbox6 {
    width: 65%;
    height: 70%;
    background-color: #f8f9fa;
    display: flex;
    gap: 1rem;

    .left8 {
      width: 55%;
      height: 100%;

      .head3 {
        height: 30%;
        width: 100%;
        font-family: Poppins;
        font-weight: 700;
        font-style: Bold;
        font-size: 40px;
        line-height: 40px;
        padding-top: 4rem;
      }
      .description11 {
        height: 23%;
        width: 100%;
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 15px;
        line-height: 24px;
        color: #6b7280;
        padding-top: 2rem;
      }
      .info1 {
        height: 16%;
        width: 100%;
        display: flex;
        gap: 1rem;

        .icon13 {
          height: 55%;
        }
        .text1 {
          .title6 {
            font-family: Poppins;
            font-weight: 500;
            font-style: Medium;
            font-size: 12px;
            line-height: 18px;
            color: #6b7280;
          }
          .phone1 {
            font-family: Poppins;
            font-weight: 700;
            font-style: Bold;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
      .info2 {
        height: 16%;
        width: 100%;
        display: flex;
        gap: 1rem;

        .icon14 {
          height: 55%;
        }
        .text2 {
          .title7 {
            font-family: Poppins;
            font-weight: 500;
            font-style: Medium;
            font-size: 12px;
            line-height: 18px;
            color: #6b7280;
          }
          .phone2 {
            font-family: Poppins;
            font-weight: 700;
            font-style: Bold;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
    .right8 {
      width: 45%;
      height: 100%;
      background-color: #ffffff;
      border-radius: 40px;
      border: 1px solid #e5e7eb;
      padding: 1rem;

      .input1 {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        gap: 2rem;
        padding: 1rem;

        .i1 {
          width: 100%;
          color: #f8f9fa;
          border-radius: 16px;
          border: 1px solid #e5e7eb;
          padding: 12px 16px;
          font-size: 16px;
          border-radius: 16px;
          background-color: #f8f9fa;
        }
        .i2 {
          width: 100%;
          color: #f8f9fa;
          border-radius: 16px;
          border: 1px solid #e5e7eb;
          padding: 12px 16px;
          font-size: 16px;
          border-radius: 16px;
          background-color: #f8f9fa;
        }
        label {
          font-family: Poppins;
          font-weight: 500;
          font-style: SemiBold;
          font-size: 12px;
          line-height: 20px;
        }
      }
      .input2 {
        width: 100%;
        height: 18%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        gap: 1rem;
        justify-content: space-between;
        padding: 1rem;

        .i3 {
          width: 100%;
          color: #f8f9fa;
          border-radius: 16px;
          border: 1px solid #e5e7eb;
          padding: 12px 16px;
          border-radius: 16px;
          color: #222222;
          font-family: Poppins;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 22px;
          background-color: #f8f9fa;
        }
        .i4 {
          width: 100%;
          color: #f8f9fa;
          border-radius: 16px;
          border: 1px solid #e5e7eb;
          padding: 12px 16px;
          border-radius: 16px;
          color: #222222;
          font-family: Poppins;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 22px;
          background-color: #f8f9fa;
        }
        .i5 {
          width: 100%;
          color: #f8f9fa;
          border-radius: 16px;
          border: 1px solid #e5e7eb;
          padding: 12px 16px;
          border-radius: 16px;
          color: #222222;
          font-family: Poppins;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 22px;
          background-color: #f8f9fa;
        }
        label {
          font-family: Poppins;
          font-weight: 500;
          font-style: SemiBold;
          font-size: 12px;
          line-height: 20px;
        }
      }
      .input3 {
        width: 100%;
        height: 30%;
        padding-left: 1rem;
        padding-right: 1rem;
        .a {
          width: 100%;
          color: #f8f9fa;
          border-radius: 16px;
          border: 1px solid #e5e7eb;
          padding: 12px 16px;
          border-radius: 16px;
          font-size: 14px;
          line-height: 2.6;
          background-color: #f8f9fa;
        }
        label {
          font-family: Poppins;
          font-weight: 500;
          font-style: SemiBold;
          font-size: 12px;
          line-height: 20px;
        }
      }
      .button3 {
        width: 100%;
        background-color: #ff6b35;
        border-radius: 16px;
        padding: 20px 34px;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        box-shadow: #ff6b3533;
        text-shadow: #ff6b3533;
        border: 0;
      }
    }
  }
}

.part7 {
  width: 100%;
  height: 45vh;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;

  .bigbox7 {
    width: 65%;
    height: 70%;
    background-color: #222222;

    .up3 {
      width: 100%;
      height: 85%;
      background-color: #222222;
      display: flex;
      gap: 20px;
      justify-content: space-between;

      .left9 {
        width: 24%;
        height: 100%;
        background-color: #222222;
        .up4 {
          width: 100%;
          height: 25%;
          display: flex;
          gap: 10px;
          .icon15 {
            width: 14%;
            height: 50%;
            border-radius: 12px;
          }
          .text3 {
            font-family: Poppins;
            font-weight: 700;
            font-style: Bold;
            font-size: 16px;
            line-height: 25px;
            color: #ffffff;
          }
        }
        .middle1 {
          width: 100%;
          height: 30%;
          font-family: Poppins;
          font-weight: 400;
          font-style: Regular;
          font-size: 15px;
          line-height: 20px;
          color: #6b7280;
        }
        .down4 {
          width: 55%;
          height: 45%;
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          padding-top: 3rem;

          .icon16 {
            width: 33%;
            height: 55%;
          }
          .icon17 {
            width: 33%;
            height: 55%;
          }
          .icon18 {
            width: 33%;
            height: 55%;
          }
        }
      }
      .center3 {
        width: 24%;
        height: 100%;
        background-color: #222222;

        .head4 {
          width: 100%;
          height: 20%;
          background-color: #222222;
          font-family: Poppins;
          font-weight: 700;
          font-style: Bold;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .body3 {
          width: 100%;
          height: 20%;
          font-family: Poppins;

          font-weight: 500;
          font-style: Regular;
          font-size: 15px;
          line-height: 30px;
          color: #6b7280;
        }
      }
      .center4 {
        width: 24%;
        height: 100%;
        background-color: #222222;

        .head5 {
          width: 100%;
          height: 20%;
          font-family: Poppins;
          font-weight: 700;
          font-style: Bold;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .body4 {
          width: 100%;
          height: 20%;
          display: flex;

          .left10 {
            width: 50%;
            height: 30%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .text4 {
              color: #6b7280;
              font-family: Poppins;
              font-weight: 400;
              font-style: Regular;
              font-size: 15px;
              line-height: 24px;
            }
            .text5 {
              color: #6b7280;
              font-family: Poppins;
              font-weight: 400;
              font-style: Regular;
              font-size: 15px;
              line-height: 24px;
            }
            .text6 {
              color: #6b7280;
              font-family: Poppins;
              font-weight: 400;
              font-style: Regular;
              font-size: 15px;
              line-height: 24px;
            }
          }
          .right10 {
            width: 50%;
            height: 30%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: end;

            .text7 {
              color: #ffffff;
              font-family: Poppins;
              font-weight: 400;
              font-style: Regular;
              font-size: 15px;

              line-height: 24px;
            }
            .text8 {
              color: #ffffff;
              font-family: Poppins;
              font-weight: 400;
              font-style: Regular;
              font-size: 15px;

              line-height: 24px;
            }
            .text9 {
              color: #ffffff;
              font-family: Poppins;
              font-weight: 400;
              font-style: Regular;
              font-size: 15px;

              line-height: 24px;
            }
          }
        }
      }
      .right9 {
        width: 24%;
        height: 100%;
        background-color: #222222;

        .head6 {
          width: 100%;
          height: 20%;
          font-family: Poppins;
          font-weight: 700;
          font-style: Bold;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .descriotion12 {
          width: 100%;
          height: 30%;
          font-family: Poppins;
          font-weight: 400;
          font-style: Regular;
          font-size: 15px;
          line-height: 20px;
          color: #6b7280;
        }
        .input4 {
          width: 100%;
          display: flex;
          gap: 8px;
          justify-content: center;

          .i6 {
            padding: 6px 14px;
            border-radius: 12px;
            /* color: #FFFFFF0D; */
            background-color: #ffffff0d;
            border-width: 2px;
            border-color: #ffffff1a;
            font-size: 13px;
          }
          .button4 {
            width: 16%;
            height: 16%;
            background-color: #222222;
            border-radius: 12px;
          }
        }
      }
    }
    .hr {
      width: 100%;
      border-width: 5%;
      border-color: #ffffff0d;
    }
    .down3 {
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding-top: 25px;
      .left11 {
        width: 48%;
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #6b7280;
      }

      .right11 {
        width: 50%;
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
        display: flex;
        gap: 1rem;
        justify-content: end;
        align-items: end;
        color: #6b7280;
      }
    }
  }
}
